<!doctype html>
<html>
	<head> A view with general stats about the sightings </head>

	<ul>
		<p>
		<body> Total number of squirrel: 
			<br>	{{TotalNumber}}
		</body>
		</p>

		<p>
		<body> average longitude of squirrel
			<br>	{{AvgLongitude}}
                </body>
		</p>

		<p>
		<body> average latitude of squirrel
			<br>	{{AvgLatitude}}
                </body>
		</p>

		<p>
		<body> count the number of squirrels that above ground
			<br>{{TotalNumber}}
                </body>
		</p>

		<p>
		<body> count the number of squirrels that is adult
			<br>	{{NumAdult}}
                </body>
		</p>

	</ul>




</html>
